.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-bottom: 0px;
}
.form-control {
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.box select {
  background-color: #373833;
  color: #e8eae3;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  width: 250px;
  border: 1px solid #373833;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.box::before {
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  background-color: #373833;
  pointer-events: auto;
}

.box:hover::before {
  border: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  border: none;
  padding: 30px;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 0;
}
.select-container {
  display: "flex";
  justify-content: "space-evenly";
  align-content: "center";
}

@media screen and (max-width: 600px) {
  .box select {
    width: 100%;
  }
}
