.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-bottom: 0px;
}
.form-control {
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
.Box-label {
  display: flex;
  font-size: 14px;
  font-weight: bold;
}
.box {
}

.box select {
  background-color: #6c5fc8;
  padding: 12px;
  width: 250px;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.box::before {
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: auto;
}

.box:hover::before {
  border: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  border: none;
  padding: 30px;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.select-container {
  display: "flex";
  justify-content: "space-evenly";
  align-content: "center";
}

@media screen and (max-width: 600px) {
  .box select {
    width: 100%;
  }
}
